.theme-color {
    color: #4470DE !important
}

.theme-background {
    background: #515AE9 !important
}

.font-color {
    color: #757577 !important
}

.random-color1 {
    color: #FF5973
}

.random-color2 {
    color: #57B1F5
}

.random-color3 {
    color: #57B1F5
}

.random-color4 {
    color: #fadb14
}

.random-color5 {
    color: #52c41a
}

.green {
    color: #52c41a
}